<div class="pref-item">
  <img src="../../assets/preferences/deliver.png" alt="Deliver" width="58px" height="50px">
  <div class="title">Free Shipping</div>
  <div class="desc">Orders over $100</div>
</div>
<div class="pref-item">
  <img src="../../assets/preferences/gifts.png" alt="Gifts" width="58px" height="58px">
  <div class="title">Smart Gift Card</div>
  <div class="desc">Buy $1000 to get card</div>
</div>
<div class="pref-item">
  <img src="../../assets/preferences/payment.png" alt="Payment" width="58px" height="58px">
  <div class="title">Quick Payment</div>
  <div class="desc">100% secure payment</div>
</div>
<div class="pref-item" style="margin-right: 0px;">
  <img src="../../assets/preferences/support.png" alt="Support" width="58px" height="58px">
  <div class="title">24/7 Support</div>
  <div class="desc">Quick support</div>
</div>