<!-- Component that shows categories of furniture -->
<section class="example-container">
  <header class="example-step-navigation-bar">
    <button
      class="example-step"
      [class.example-active]="selectedIndex === 0"
      (click)="selectStepByIndex(0)"
    >
    All Products
    </button>
    <button
      class="example-step"
      [class.example-active]="selectedIndex === 1"
      (click)="selectStepByIndex(1)"
      style="margin:0px 35px 0px 70px;"
    >
    Best Sellers
    </button>
    <button
      class="example-step"
      [class.example-active]="selectedIndex === 2"
      (click)="selectStepByIndex(2)"
      style="margin:0px 70px 0px 35px;"
    >
    New Arrivals
    </button>
    <button
      class="example-step"
      [class.example-active]="selectedIndex === 3"
      (click)="selectStepByIndex(3)"
    >
    Todays Deals
    </button>
  </header>
  <div *ngTemplateOutlet="selected ? selected.content : null" class="object"></div>
</section>
