#element {
  height: 455px;
  width: 570px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  .type {
    display: inline-block;
    margin-top: 250px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 46px;
    padding-right: 8px;
    height: 24px;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    background-color: #FFFFFF;
    color: #7AC751;
    border-radius: 3px;
    img {
      position: relative;
      top: 2px;
      margin-right: 0.33px;
      margin-left: 8.22px;
    }
  }
  .date {
    display: inline-block;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #FFFFFF;
  }
  .title {
    display: block;
    margin-bottom: 20px;
    margin-left: 46px;
    font-family: Mulish;
    font-size: 39px;
    font-weight: 700;
    line-height: 47px;
    color: #FFFFFF;
  }
  a {
    margin-left: 46px;
    text-decoration: none;
    color: #FFFFFF;
  }
}