<!-- Header of landing -->
<header>
  <h3 style="min-width:max-content; margin-left: 130px;">Welcome to our online shop</h3> 
  <div class="control" style="margin-right: 130px;">
    <mat-form-field appearance="fill">
      <mat-select [formControl]="selectedlang">
        <mat-option value="USD">English (USD)</mat-option>
        <mat-option value="RU">Russian (RU)</mat-option>
      </mat-select>
    </mat-form-field>
  <span class="line"></span>
  <a href="#"><h3>Login or Sign up</h3></a>
  </div> 
</header>
<!-- --------------------------------- -->
<!-- Hero section -->
<div id="hero-section">
  <a href="#" id="logo">
    <img src="./../assets/Logo.png" alt="Logo" width="32px" height="39px">
    Furniking
  </a>
  <div id="search-bar">
    <input type="text" class="field">
    <mat-form-field appearance="fill">
      <mat-select [formControl]="selectedcat">
        <mat-option value="cat">Categories</mat-option>
        <mat-option value="Modems">Modems</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary">
      <img src="../assets/findbutton.png" alt="Q" width="16px" height="16px">
    </button>
  </div>
  <div class="user-buttons">
    <button mat-icon-button class="user-button">
      <img src="../assets/userButtons/shop.png" alt="P" width="32px" height="25px">
    </button>
    <button mat-icon-button class="user-button">
      <img src="../assets/userButtons/notification.png" alt="P" width="24px" height="25px">
    </button>
    <button mat-icon-button class="user-button">
      <img src="../assets/userButtons/user.png" alt="U" width="25px" height="25px">
    </button>
  </div>
</div>
<!-- Site navigation bar -->
<div id="site-bar">
  <div id="collections-header">
    <img src="../assets/collections.png" alt="-" width="18px" height="16px">
    <span>ALL COLLECTIONS</span>
  </div>
  <div id="site-bar-sections">
    <a href="#">HOME</a>
    <a href="#">SHOP</a>
    <a href="#">BLOG</a>
    <a href="#">ABOUT</a>
    <a href="#">CONTACT US</a>
  </div>
</div>
<!-- ------------------------------- -->
<!-- List of collections and hero baner -->
<div id="collections-box">
  <div id="hero-baner">
    <stepper>
      <cdk-step> <p>Placeholder</p> </cdk-step>
      <cdk-step> <p>Placeholder</p> </cdk-step>
      <cdk-step> 
        <div class="ad">
          <div class="info">
            <span id="info-block-1">TOP COLLECTIONS 2022</span> <br/>
            <span id="info-block-2">We Serve Your Dream Furniture</span> <br/>
            <span id="info-block-3">Get 50% off all products</span> <br/>
            <a href="#">SHOP NOW</a>
          </div>
          <img src="../assets/Chair1.png" alt="Furniture" width="339px" height="339px">
          <div id="another-goods">
            <div class="item">
              <img src="../assets/Chair2.png" alt="Furniture" width="50px" height="53px">
              <div class="price"><span class="dollar">$</span>120</div>
              <div class="furni-name">Office Desk Chair</div>
            </div>
            <div class="item">
              <img src="../assets/Chair3.png" alt="Furniture" width="80px" height="53px">
              <div class="price"><span class="dollar">$</span>180</div>
              <div class="furni-name">Home Alisa Sofa</div>
            </div>
            <div class="item" style="margin-bottom: 0px;">
              <img src="../assets/Chair4.png" alt="Furniture" width="51px" height="57px">
              <div class="price"><span class="dollar">$</span>250</div>
              <div class="furni-name">Modern Chair</div>
            </div>
          </div>
        </div>
      </cdk-step>
      <cdk-step> <p>Placeholder</p> </cdk-step>
    </stepper>
  </div>
  <div id="collections">
    <span class="col-item">All</span> 
    <span class="col-item">New Arrivals</span> 
    <span class="col-item">Hot Sale</span> 
    <span class="col-item">Furniture</span> 
    <span class="col-item">Amrature</span> 
    <span class="col-item">Tabble</span> 
    <span class="col-item">Chair</span> 
    <span class="col-item">Sofa</span> 
    <span class="col-item">Mirrors</span> 
    <span class="col-item">Stools</span> 
    <span class="col-item" style="padding-bottom: 10px;">Benches</span> 
  </div>
</div>

<!-- Precerences bar -->
<preferences></preferences>

<!-- Stocks -->
<div id="stocks">
  <div class="main-block">
    <div class="title">Modern Furniture Collections</div>
    <div class="price">Starting from $500</div>
    <a href="#">Read more <img src="../assets/stocks/arrow.png" alt=">"></a>
  </div>
  <div class="additional-block">
    <div id="add-1">
      <div class="title">Geometric Bookcase</div>
      <div class="price">Up to 20% discount</div>
      <a href="#">Read more<img src="../assets/stocks/arrow.png" alt=">"></a>
    </div>
    <div id="add-2">
      <div class="title">Minimal Sofa collections</div>
      <div class="price">Sale upto 40% discount</div>
      <a href="#">Read more<img src="../assets/stocks/arrow.png" alt=">"></a>
    </div>
  </div>
</div>
<!-- Trending -->
<h2>TRENDING</h2>
<trend-categ>
  <cdk-step><pages>
    <cdk-step>Placeholder1Page1</cdk-step>
    <cdk-step><div class="page">
      <example
       type="New"
       image="../../assets/Trending/top-products/chair1.png"
       typ="CHAIR" 
       name="Minimal LCD chair" 
       priceNew="$180" 
       priceOld="$250" 
       rating="5">
      </example>
      <example
       type="New"
       image="../../assets/Trending/top-products/chair2.png"
       typ="CHAIR" 
       name="Minimal iconic chair" 
       priceNew="$120" 
       priceOld="$150" 
       rating="4">
      </example>
      <example
       type="Sale"
       image="../../assets/Trending/top-products/chair3.png"
       typ="CHAIR" 
       name="Dining chairs" 
       priceNew="$100" 
       priceOld="$120" 
       rating="5">
      </example>
      <example
       type="Sale"
       image="../../assets/Trending/top-products/chair4.png"
       typ="CHAIR" 
       name="Buskbo armchair" 
       priceNew="$130" 
       priceOld="$150" 
       rating="4">
      </example>
      <example
       type="Sale"
       image="../../assets/Trending/top-products/chair5.png"
       typ="CHAIR" 
       name="Modern chairs" 
       priceNew="$100" 
       priceOld="$120" 
       rating="">
      </example>
      <example
       type="Sale"
       image="../../assets/Trending/top-products/chair6.png"
       typ="CHAIR" 
       name="Plastic dining chair" 
       priceNew="$130" 
       priceOld="$150" 
       rating="4">
      </example>
      <example
       type="New"
       image="../../assets/Trending/top-products/chair7.png"
       typ="CHAIR" 
       name="Minimal Wood chair" 
       priceNew="$180" 
       priceOld="$250" 
       rating="5">
      </example>
      <example
       type="New"
       image="../../assets/Trending/top-products/chair8.png"
       typ="CHAIR" 
       name="Elegent wood chair" 
       priceNew="$120" 
       priceOld="$150" 
       rating="4">
      </example>
    </div></cdk-step>
  </pages></cdk-step>
  <cdk-step>Placeholder2</cdk-step>
  <cdk-step>Placeholder3</cdk-step>
</trend-categ>
<!-- Special offer block -->
<h2 style="margin-top: 100px; margin-bottom: 60px;">SPECIAL OFFER</h2>
<div id="special-offer">
  <offer-item 
   image = "../../assets/specialOffer/livingRoomBackground.png"
   discount = "40"
   title="Living Room Furniture"
   description = "You don't have a chair. Are you ready for growth? Shop with us 40% discount!"
   price = "250"
   days = "10"
   hours = "15"
   minutes = "30"
   seconds = "22"
   ></offer-item>
  <offer-item
   image = "../../assets/specialOffer/modernChairBackground.png"
   discount = "50"
   title="Modern chair"
   description = "Hot chairs of the modern era are now available in our stock."
   price = "150"
   days = "15"
   hours = "8"
   minutes = "20"
   seconds = "12"
   ></offer-item>
</div>
<!-- Products list -->
<h2>OUR PRODUCTS</h2>
<products-categ>
  <cdk-step><product-pages>
    <cdk-step><div class="page">
      <example
       type="Sale"
       image="../../assets/products/chair1.png"
       typ="CHAIR" 
       name="Minimal LCD chair" 
       priceNew="$180" 
       priceOld="$250" 
       rating="5">
      </example>
      <example
       type="New"
       image="../../assets/products/sofa1.png"
       typ="SOFA" 
       name="Modern Sofa" 
       priceNew="$120" 
       priceOld="$150" 
       rating="4">
      </example>
      <example
       type="-30%"
       image="../../assets/products/sofa2.png"
       typ="SOFA" 
       name="Microfiber Sofa" 
       priceNew="$130" 
       priceOld="$150" 
       rating="4">
      </example>
      <example
       type="Sale"
       image="../../assets/products/tabble1.png"
       typ="TABBLE" 
       name="Wood Coffee Tables" 
       priceNew="$100" 
       priceOld="$120" 
       rating="5">
      </example>
      <example
       type="-30%"
       image="../../assets/products/chair2.png"
       typ="CHAIR" 
       name="Acacia Wood Club Chairs" 
       priceNew="$100" 
       priceOld="$120" 
       rating="">
      </example>
      <example
       type="Sale"
       image="../../assets/products/bench1.png"
       typ="BENCH" 
       name="Amalia Cowhide Bench" 
       priceNew="$130" 
       priceOld="$150" 
       rating="4">
      </example>
      <example
       type="New"
       image="../../assets/products/storage1.png"
       typ="STORAGE" 
       name="Juno-Hinged Lid Storage" 
       priceNew="$180" 
       priceOld="$250" 
       rating="5">
      </example>
      <example
       type="New"
       image="../../assets/products/furniture1.png"
       typ="FURNITURE" 
       name="Delicia 3 Piece Living Room" 
       priceNew="$120" 
       priceOld="$150" 
       rating="4">
      </example>
    </div></cdk-step>
    <cdk-step>Placeholder1.2</cdk-step>
    <cdk-step>Placeholder1.3</cdk-step>
  </product-pages></cdk-step>
  <cdk-step>Placeholder2</cdk-step>
  <cdk-step>Placeholder3</cdk-step>
  <cdk-step>Placeholder4</cdk-step>
</products-categ>
<!-- Customer output block -->
<h2></h2>
