
header {
  background-color: #7AC751;
  height: 50px;
  margin: 0px;
  display: grid;
  align-items: center;

}

h3 {
  display: inline-block;
  border: 2px solid black;
  margin: 0px;

  font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;
}
