
$salat : #7AC751;
@font-face {
  font-family: 'Rubik';
  src: url(../assets/fonts/Rubik.ttf);
}
@font-face {
  font-family: 'Mulish';
  src: url(../assets/fonts/Mulish-SemiBold.ttf);
}
header {
  background-color: $salat;
  height: 50px;
  margin: 0px;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 50px;
  align-items: center;
  .control {
    text-align: end;
  }
  .line {
    border: 1px solid white;
    margin-right: 15px;
  }
  a {
    text-decoration: none;
  }
  h3 {
    display: inline-block;
  //  border: 2px solid black;
    margin: 0px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
}

.arrow {
  display: inline-block;
  transform: scale(0.8, 0.5);
}

#hero-section {
  display: grid;
  grid-template-columns: 150px 580px 125px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 90px;
  #logo {
    display: inline-grid;
    grid-template-columns: auto auto;
    text-decoration: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    justify-content: space-around;
    /* Primary */
    color: #555555;
  }
  #search-bar {
    border: 2px solid #7AC751;
    border-radius: 8px;
    height: 45px;
    display: inline-grid;
    grid-template-columns: 402px 120px 58px;
    grid-template-rows: 45px;
    .field {
      border: none;
      border-radius: 8px 0px 0px 8px;
      margin-right: 0px;
      padding-right: 0px;
      border-right: 1.5px solid rgba(227, 227, 227, 0.78);
      width: 396.5px;
    }
    button {
      padding: 0px;
      border: 0px;
      border-radius: 0px 8px 8px 0px;
      background-color: $salat;
    }
  }
  .user-buttons {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    justify-content: space-between;
    .user-button {
      width: 35px;
      text-align: center;
      background-color: #FFFFFF;
      border: none;
    }
  }
}
#site-bar {
  background-color: #F7F8FA;
  height: 65px;
  display: grid;
  grid-template-columns: auto 1000px;
  justify-content: start;
  align-items: center;
  padding-left: 135px;
  padding-right: 460px;
  #collections-header {
    background-color: $salat;
    width: 260px;
    height: 65px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    img {
      padding-left: 33px;
      padding-right: 23px;
    }
    span {
      color: #FFFFFF;
      font-family: Rubik;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0.02em;
      text-align: left;
    }
  }
  #site-bar-sections {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    a {
      text-decoration: none;
      font-family: Rubik;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      color: #555555;
    }
  }
}
#collections-box {
  height: 455px;
  display: inline-block;
  padding-left: 135px;
  #collections {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 260px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    .col-item {
      height: 40px;
      padding-left: 30px;
      line-height: 40px;
      background-color: #F7F8FA;
    }
  }
  #hero-baner {
    width: 900px;
    height: 440px;
    float: right;
    background: linear-gradient(103.4deg, rgba(241, 250, 255, 0.88) 0.89%, #F1FAFF 101.61%);
    margin: 10px;
    margin-bottom: 0px;
    stepper {
      display: block;
      height: 100%;
      margin: 0px;
      .ad {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        .info {
          width: 325px;
          padding-top: 73px;
          padding-left: 47px;
          #info-block-1 {
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: $salat;
          }
          #info-block-2 {
            font-family: Rubik;
            font-size: 40px;
            font-weight: 500;
            line-height: 47px;
            color: #2F2F2F;
          }
          #info-block-3 {
            font-family: Mulish;
            font-size: 27px;
            font-weight: 600;
            line-height: 26px;
            color: #515151B5;
          }
          a {
            display: inline-block;
            font-family: Mulish;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            margin-top: 35px;
            padding: 10px 18px;
            border-radius: 5px;
            background-color: $salat;
            color: #FFFFFF;
            text-decoration: none;
          }
        }
        img {
          margin-top: 35px;
          margin-left: 10px;
        }
        #another-goods {
          margin-top: 58px;
          margin-left: 20px;
          .item {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.56) 100%);
            border: 2px solid #FFFFFF;
            border-radius: 8px;
            margin-bottom: 25px;
            text-align: center;
            img {
              margin: 0px;
            }
            .price {
              font-family: Rubik;
              font-size: 11px;
              font-weight: 500;
              line-height: 20px;
              color: $salat;
              .dollar {
                font-size: 7px !important;
              }
            }
            .furni-name {
              font-family: Rubik;
              font-size: 7px;
              font-weight: 500;
              line-height: 10px;
              color: #555555;
              padding: 0px 16px;
            }
          }
        }
      }
    }
  }
}
preferences {
  margin-top: 68px;
  margin-left: 135px;
  margin-bottom: 70px;
  width: 1170px;
  display: block;
}
#stocks {
  width: 1170px;
  height: 520px;
  margin-left: 135px;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: 685px 485px;
  .title {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: Mulish;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: #555555;
  }
  .price {
    margin-left: 20px;
    margin-bottom: 13px;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: $salat;
    #price-sumb {
      font-weight: 800, Extra Bold !important;
    }
    #price-sum {
      font-weight: 600, Extra Bold !important;
    }
  }
  a {
    margin-left: 20px;
    text-decoration: none;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #757575;
    img {
      width: 11px;
      height: 9px;
    }
  }
  .main-block {
    height: 100%;
    background-image: url(../assets/stocks/main1.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .additional-block {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin-left: 20px;
    #add-1 {
      background-size: inherit;
      background-repeat: inherit;
      background-image: url(../assets/stocks/additional1.png);
      height: 250px;
      margin-bottom: 20px;
      .title {
        margin-top: 0px;
        padding-top: 50px;
      }
    }
    #add-2 {
      .title {
        margin-top: 0px;
        padding-top: 40px;
      }
      background-size: inherit;
      background-repeat: inherit;
      background-image: url(../assets/stocks/additional2.png);
      height: 250px;
    }
  }
}
h2 {
  margin-left: 135px;
  width: 1170px;
  text-align: center;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  color: #555555;
}
trend-categ {
  display: block;
  margin-left: 135px;
  width: 1170px;
  height: 1010px;
  cdk-step {
    height: 100%;
  }
  .page {
    height: 800px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
