object {
  height: 905px;
}
footer {
  text-align: center;
  height: max-content;
  margin-top: 60px;
  .example-step {
    width: 24px;
    height: 24px;
    border: 4px solid #CCCCCC;
    border-radius: 50px;
    background-color: #00000000;
    .inner-circle {
      border: 4px solid #CCCCCC;
      border-radius: 50px;
    }
  }
  .example-step.example-active {
    border: 4px solid #7AC751;
    .inner-circle {
      border: 4px solid #7AC751;
      border-radius: 50px;
    }
  }
}

